/*--------------------FONT IMPORTS--------------------*/
@import url('https://fonts.googleapis.com/css2?family=Spartan:wght@400;500;700&display=swap');

/*--------------------VARIABLES--------------------*/
:root{
    --very-dark-magenta: hsl(300, 43%, 22%);
    --soft-pink: hsl(333, 80%, 67%);
    --dark-grayish-magenta: hsl(303, 10%, 53%);
    --light-grayish-magenta: hsl(300, 24%, 96%);
}

/*--------------------GENERIC CLASSES--------------------*/
/* TEXT COLORS */
.text-very-dark-magenta{
    color: var(--very-dark-magenta);
}

.text-dark-grayish-magenta{
    color: var(--dark-grayish-magenta);
}

.text-soft-pink{
    color: var(--soft-pink);
}

.text-light-grayish-magenta{
    color: var(--light-grayish-magenta);
}

/* BACKGROUND COLORS */
.bg-light-grayish-magenta{
    background-color: var(--light-grayish-magenta);
}

.bg-very-dark-magenta{
    background-color: var(--very-dark-magenta);
}

/* BORDER-RADIUS */
.rounded-s-1{
    border-radius: 10px;
}

/*--------------------HTML ELEMENTS--------------------*/
html,body{
    width: 100%;
    height: 100%;
    margin: 0px;
    padding: 0px;
    overflow-x: hidden;
}

body{
    font-family: 'Spartan', sans-serif;
    font-size: 15px;
    background: url('../images/bg-pattern-top-mobile.svg') no-repeat top left, url('../images/bg-pattern-bottom-mobile.svg') no-repeat bottom right;
}

/*--------------------VARIOUS ADJUSTMENTS--------------------*/
/* First row intro title */
#main-title{
    font-size: 2rem;
    line-height: 1;
    -webkit-transition: font-size .2s ease;
    -o-transition: font-size .2s ease;
    transition: font-size .2s ease;
}

/* Rewards */
.rewards{
    max-width: 600px;
    margin: auto;
}

/* Rewards text */
.rewards p{
    font-size: .8rem;
}

/* Profile card */
.container .card{
    max-width: 420px;
    margin: auto;
}

/* Profil picture */
.container .card .card-body img{
    width: 50px;
}

/* Profil content */
.container .card .card-body .card-text{
    clear: both;
}

/*--------------------FEM STYLE--------------------*/
.attribution{
    font-size: 11px;
    text-align: center;
}

.attribution a{
    color: hsl(228, 45%, 44%);
}

/*--------------------MEDIA QUERIES--------------------*/
@media screen and (min-width: 376px){
    body{
        background: url('../images/bg-pattern-top-desktop.svg') no-repeat top left, url('../images/bg-pattern-bottom-desktop.svg') no-repeat bottom right;
    }
}

@media screen and (min-width: 992px){

    /* First row intro title */
    #main-title{
        font-size: 2.5rem;
        line-height: 1;
    }

    /* Rewards */
    .rewards:first-of-type{
        margin-left: 0;
        margin-right: auto;
    }

    .rewards:last-of-type{
        margin-right: 0;
        margin-left: auto;
    }

    /* Profile card */
    #last-card{
        margin-top: 48px!important;
    }
}

@media screen and (min-width: 1400px){

    /* First row intro title */
    #main-title{
        font-size: 3rem;
        line-height: 1;
    }

    #main-title+p{
        font-size: 1.2rem;
    }

    /* Rewards */
    .rewards-box{
        padding-left: 100px;
    }

    .rewards:first-of-type{
        margin-left: 0;
        margin-right: 100px;
    }

    .rewards:nth-child(2){
        margin-right: 50px;
        margin-left: 50px;
    }

    .rewards:last-of-type{
        margin-right: 0;
        margin-left: 100px;
    }
}